@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

/* css variables */

:root {
    --color__bg: #282C34;
    --color__bg_variant: #16181D;
    --color__primary: #5ED7F2;
    --color__primary_variant: #2393D9;
    --color__white: #ffffff;
    --color__light: #32363E;

    --transition: all 400ms ease;


    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color__bg);
    color: var(--color__white);
    line-height: 1.7;
    /* background-image: url(../src/assets/bg-image.jpg); */
}

/* ================GENERAL STYLES ================ */

.container{
    width: var(--container-width-lg);
    margin: 0 auto;

}

h1,
h2,
h3,
h4,
h5  {
    font-weight: 500;
}

h1{
    font-size: 2.5rem;
}

section {
    margin-top: 8rem;
    height: 100vh;
}

section > h2, section > h5 {
    text-align: center;
    color: var(--color__white);
}

section > h2 {
    color: var(--color__primary);
    margin-bottom: 3rem;
}

.text__light{
    color:var(--color__white)
}

a {
    color: var(--color__primary);
    transition: var(--transition);
}

a:hover {
    color: var(--color__white);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color__primary);
    padding: 1rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color__primary);
}

.btn:hover {
    background-color: var(--color__white);
    color: var(--color__bg);
    border-color: transparent;
    /* border: 3px solid var(--color__white); */
}

.btn-primary {
    background: var(--color__primary);
    color: var(--color__bg);
}

.btn-secundary{
    padding: 0.7rem 1.2rem;
}
.btn-secundary:hover{
    color: var(--color__white);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* ================ MEDIA QUERIES (medium devices) ================ */

@media  screen and (max-width:1024px) {
    .container{
        width: var(--container-width-md) ;
    }

    section {
        margin-top: 6rem;
    }
}

/* ================ MEDIA QUERIES (small devices) ================ */

@media screen and (max-width:600px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2{
        margin-bottom: 2rem;
    }
}